.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.viewjob-title {
  padding-top: 37px;
}

.job-signup-button {
  padding-top: 10px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.toast-notification {
  z-index: 1100 !important
}

.signup {
  padding-top: 15px;
  padding-bottom: 15px;
}

.job {
  padding-top: 15px;
  padding-bottom: 15px;
}

.error {
  font-size: 10px;
  padding: 3px;
}

.searchbtn {
  margin-top: 6px;
  margin-right: 10px;
}

.profileimg {
  border-radius: 25px;
  border: 2px solid #A4AE97;
  padding-top: 6px;
  padding-bottom: 6px;
}

.job-signup-btn {
  margin-top: 15px;
}

.proposal {
  width: 100%;
}

.details-li {
  font-weight: 700;
  font-size: 1.2em;
}

.fa-money {
  margin-right: 10px;
  width: 60px;
  height: 40px;
  color: #138C50;
  /*padding-right: 10px;*/
  border-radius: 10px;
  border: 1px solid black;
  text-align: center;
}

.fa-map-marker {
  margin-right: 10px;
  text-align: center;
  width: 60px;
  height: 44px;
  color: #159098;
  /*padding-right: 10px;*/
  border-radius: 10px;
  border: 1px solid black;
}

.leftjob {
  overflow: scroll;
}

.stuffs {
  overflow-x: hidden;
}

.card {
  margin-top: 7px;
  margin-bottom: 7px;
  width: 100%;
}

.img-circle {
    border-radius: 50%;
    max-width: 75px;
    max-height: 75px;
}

.jobresult:hover{
  background-color: #AAE7ED
}

/*.card:hover .card-header{ background-color: #A5C2C5 }*/

.dropzone {
  border: 1px black solid;
}

.profileform {
  padding: 10px;
}

.navbuttons {
  margin: 6px;
}

.navbutton {
  margin-left: 3px;
  margin-right: 3px;
}

.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;

  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}

.smallHeader {
  padding-bottom: 10px;
}

.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .spinner {
  opacity: 1;
  width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spinner.btn-mini.active .spinner {
    width: 10px;
}

.has-spinner.btn-small.active .spinner {
    width: 13px;
}

.has-spinner.btn.active .spinner {
    width: 16px;
}

.has-spinner.btn-large.active .spinner {
    width: 19px;
}

.noresults{
  padding-top: 150px;
  color: #BDBDBD;
}
@import url(http://fonts.googleapis.com/css?family=Roboto:400);
body {
  background-color:#FFFFFF;
  -webkit-font-smoothing: antialiased;
  font: normal 14px Roboto,arial,sans-serif;
}
.navbar-default {background-color:#f4f4f4;margin-top:50px;border-width:0;z-index:5;}
.navbar-default .navbar-nav > .active > a,.navbar-default .navbar-nav > li:hover > a {border:0 solid #4285f4;border-bottom-width:2px;font-weight:800;background-color:transparent;}
.navbar-default .dropdown-menu {background-color:#ffffff;}
.navbar-default .dropdown-menu li > a {padding-left:30px;}

.header {background-color:#ffffff;border-width:0;}
.header .navbar-collapse {background-color:#ffffff;}
.btn,.form-control,.panel,.list-group,.well {border-radius:1px;box-shadow:0 0 0;}
.form-control {border-color:#d7d7d7;}
.btn-primary {border-color:transparent;}
.btn-primary,.label-primary,.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {background-color:#4285f4;}
.btn-plus {background-color:#ffffff;border-width:1px;border-color:#dddddd;box-shadow:1px 1px 0 #999999;border-radius:3px;color:#666666;text-shadow:0 0 1px #bbbbbb;}
.well,.panel {border-color:#d2d2d2;box-shadow:0 1px 0 #cfcfcf;border-radius:3px;}
.btn-success,.label-success,.progress-bar-success{background-color:#65b045;}
.btn-info,.label-info,.progress-bar-info{background-color:#a0c3ff;border-color:#a0c3ff;}
.btn-danger,.label-danger,.progress-bar-danger{background-color:#dd4b39;}
.btn-warning,.label-warning,.progress-bar-warning{background-color:#f4b400;color:#444444;}

hr {border-color:#ececec;}
button {
 outline: 0;
}
textarea {
 resize: none;
 outline: 0; 
}
.panel .btn i,.btn span{
 color:#666666;
}
.panel .panel-heading {
 background-color:#ffffff;
 font-weight:700;
 font-size:16px;
 color:#262626;
 border-color:#ffffff;
}
.panel .panel-heading a {
 font-weight:400;
 font-size:11px;
}
.panel .panel-default {
 border-color:#cccccc;
}
.panel .panel-thumbnail {
 padding:0;
}
.panel .img-circle {
 width:50px;
 height:50px;
}
.list-group-item:first-child,.list-group-item:last-child {
 border-radius:0;
}
h3,h4,h5 { 
 border:0 solid #efefef; 
 border-bottom-width:1px;
 padding-bottom:10px;
}
.modal-dialog {
 width: 450px;
}
.modal-footer {
 border-width:0;
}
.dropdown-menu {
 background-color:#f4f4f4;
 border-color:#f0f0f0;
 border-radius:0;
 margin-top:-1px;
}
/* end theme */

/* template layout*/
#subnav {
 position:fixed;
 width:100%;
}

@media (max-width: 768px) {
 #subnav {
  padding-top: 6px;
 }
}

#main {
 padding-top:120px;
}