.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.toast-notification {
  z-index: 1100 !important
}

.signup {
  padding-top: 15px;
  padding-bottom: 15px;
}

.job {
  padding-top: 15px;
  padding-bottom: 15px;
}

.error {
  font-size: 10px;
  padding: 3px;
}

.searchbtn {
  margin-top: 6px;
}

.leftjob {
  overflow: scroll;
}

.stuffs {
  overflow-x: hidden;
}

.card {
  margin-top: 7px;
  margin-bottom: 7px;
  width: 100%;
}

.card:hover{
  background-color: #AAE7ED
}

.card:hover .card-header{ background-color: #A5C2C5 }

.dropzone {
  border: 1px black solid;
}

.profileform {
  padding: 10px;
}

.navbuttons {
  margin: 6px;
}

.navbutton {
  margin-left: 3px;
  margin-right: 3px;
}

.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;

  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .spinner {
  opacity: 1;
  width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spinner.btn-mini.active .spinner {
    width: 10px;
}

.has-spinner.btn-small.active .spinner {
    width: 13px;
}

.has-spinner.btn.active .spinner {
    width: 16px;
}

.has-spinner.btn-large.active .spinner {
    width: 19px;
}

.noresults{
  padding-top: 150px;
  color: #BDBDBD;
}