@import "settings";

html, body {
  width: 100%;
  height: 100%;
  color: #FFFFFF;
}

.k-tooltip{
   background: #EDE2D3 !important; //specify tooltip's color
}

label{
  color: white;
}

body {
  background-color: $BI-light-grey;
  margin: 0;
  overflow: hidden;
  font-family: 'Roboto Condensed', sans-serif;
}

.nav-div:hover{
  background-color: #03A0CC;
}

.post:hover{
  background-color: #03A0CC;
}

tbody {
   border: 2px solid white;
   background-color: #474747;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

input#light-box{
  background-color: $BI-light-grey;
  color: white;
}
input#search{
  background-color: $BI-light-grey;
  color: white;
}
input#job_title{
  background-color: $BI-light-grey;
  color: white;
}
input#job_description{
  background-color: $BI-light-grey;
  color: white;
}
input#job_start_date{
  background-color: $BI-light-grey;
  color: white;
}
input#job_start_time{
  background-color: $BI-light-grey;
  color: white;
}
input#job_end_time{
  background-color: $BI-light-grey;
  color: white;
}
input#job_address{
  background-color: $BI-light-grey;
  color: white;
}

.input-bg{
  background-color: $BI-light-grey;
}

.white-text{
  color: white;
}

.search-input {
  background-color: #EDE2D3;
  height: 30px;
  margin-top: 20px;
}

.red-debug {
  background-color: red;
}
.purple-debug {
  background-color: purple;
}
.blue-debug {
  background-color: blue;
}
.green-debug {
  background-color: green;
}

.top-bar {
  box-shadow: 2px 2px #000000;
}

#element {
    display: table;
    margin: 0 auto;
}

#container {
}

#sign-in {
  box-shadow: 2px 2px #000000;
  border-radius: 15px;
  color: #000000;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.rounded-border{
  border-radius: 2px;
}

#select-type {
  box-shadow: 2px 2px #000000;
  border-radius: 15px;
  color: #000000;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
#worker-signup-form {
  box-shadow: 2px 2px #000000;
  border-radius: 15px;
  color: #000000;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
#feed {
  box-shadow: 2px 2px #000000;
  border-radius: 15px;
  color: #ffffff;
  overflow-y: scroll;
}

.thin-border {
    border-style: solid;
    border-width: 2px;
    border-color: #FFFFFF;
}
#contractor-signup-form {
  box-shadow: 2px 2px #000000;
  border-radius: 15px;
  color: #000000;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.centered-text{
  text-align: center;
  color: #FFFFFF;
}

.lightest-bg{
  background-color: $BI-dark-gray;
}
.lighter-bg{
  background-color: $BI-dark-gray;
}
.light-bg{
  background-color: $BI-dark-gray;
}
.dark-bg{
  background-color: $BI-light-grey;
}
.lightest-color{
  color: #EDE2D3;
}
.lighter-color{
  color: $BI-dark-gray;
}
.light-color{
  color: #C28432;
}
.dark-color{
  color: $BI-light-grey;
}
