.profileimg {
  border-radius: 25px;
  border: 2px solid #A4AE97;
  padding-top: 6px;
  padding-bottom: 6px;
}

.details-li {
  font-weight: 700;
  font-size: 1.2em;
}

.closebutton-lgmodal {
  padding: 5px;
}

.job-signup-btn {
  margin-top: 15px;
}

.img-circle {
    border-radius: 50%;
    max-width: 75px;
    max-height: 75px;
}

.proposal {
  width: 100%;
}