.profileimg {
  border-radius: 25px;
  border: 2px solid #A4AE97;
  padding-top: 6px;
  padding-bottom: 6px;
}

.details-li {
  font-weight: 700;
  font-size: 1.2em;
}

.closebutton-lgmodal {
  width: 20px;
  padding: 5px;
  margin-top: 6px;
  font-size: 13px;
  -webkit-transform: translate(364px,-10px);
  cursor: pointer;
}

.job-signup-btn {
  margin-top: 15px;
}

.img-circle {
    border-radius: 50%;
    max-width: 75px;
    max-height: 75px;
}

.proposal {
  width: 100%;
}