<div class="medium-12 clearfix columns lightest-bg medium-centered rounded-border thin-border post" style="font-size: 14px; margin-top: 10px; margin-bottom: 10px;">
  <div class="medium-4 columns rounded-border">
    <%= image_tag("checkmark.png", size: "100x100") %>
  </div>
  <div class="medium-8 columns rounded-border">
    <div>Thanks for signing up!</div>
  </div>
</div>
