<div class="medium-5 medium-centered columns lightest-bg" id="search-container" style="width: auto; margin-top: 10px; height: 100vh;">
  <div class="centered-text dark-color">
    HI SEARCH
  </div>
</div>
