<div class="medium-5 medium-centered columns lightest-bg" id="search-container" style="width: 100%; margin-top: 10px; height: 100vh; overflow-y: scroll;">
  <div class="centered-text dark-color">
    <div class="medium-12 columns centered-text">
      <%= text_field_tag :search, params[:search], placeholder: "Search Local Jobs", class: 'search-input' %>
      <%= submit_tag "Search", id: 'search-button', class: 'button' %>
      <div id="results-container">
      </div>
    </div>
  </div>
</div>
