<div class="medium-5 medium-centered columns lightest-bg container" id="select-type">
    <div class="centered-text dark-color">
      <h3><b>Select Account Type</b></h3>
    </div>
    <%= button_to "Seeking Work", root_path, :method => :get, id: "worker_signup_button" %>
    <%= button_to "Seeking Workers", root_path, :method => :get, id: "contractor_signup_button" %>
</div>
