<div class="medium-5 medium-centered columns lightest-bg" id="feed" style="width: auto; margin-top: 10px; height: 100vh;">
  <div class="centered-text dark-color">
    Jobs you are signed up for.
    <table>
      <% @jobs.each_with_index do |job, index| %>
        <tr id="<%= job.id %>">
          <td><%= job.title %></td>
          <td><%= button_to "View", root_path, :method => :get, class: 'view-button' %></td>
          <td><%= button_to "Resign", root_path, :method => :get, class: 'resign-button' %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
