<div class="medium-5 medium-centered columns lightest-bg" id="worker-CP" style="width: auto; margin-top: 10px; height: 100vh;">
  <div class="centered-text">
    Jobs you are signed up for.
    <% @jobs.each_with_index do |job, index| %>
      <table>
        <tr id="<%= job.id %>">
          <td><%= job.title %></td>
          <td><%= button_to "View", root_path, :method => :get, class: 'view-button button' %></td>
          <td><%= button_to "Resign", root_path, :method => :get, class: 'resign-button button' %></td>
        </tr>
      </table>
    <% end %>
  </div>
</div>
