<!-- <div class = "row" id="feed"> -->
  <div class="medium-5 medium-centered columns lightest-bg" id="feed" style="height: 89vh;  bottom: 2px;">
    <div class="centered-text dark-color">
      <% @jobs.each do |job| %>
        <div class="row" style="padding-top: 20px;">
          <div class="medium-11 columns lightest-bg medium-centered rounded-border" style="font-size: 14px; box-shadow: 2px 2px #000000;">
            <div class="medium-12 columns purple-debug">
              PURPLE
            </div>
            <div class="medium-5 columns red-debug" style="height: 100%;">
              RED
            </div>
            <div class="medium-7 columns green-debug">
              <div><%= job.title %></div>
            </div>
            <div class="medium-12 columns blue-debug">
              <div><%= job.description %></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<!-- </div> -->
